apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: web-server
data:
  nginx.conf: |
    worker_processes 1;
    events { worker_connections 1024; }
    http {
      server {
        listen 80;
        location / {
          root /usr/share/nginx/html;
          index index.html;
        }
        add_header X-Served-By $hostname always;
      }
    }
