apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-server
  namespace: web-server
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web-server
      project: ng-voice
  template:
    metadata:
      annotations:
          k8s.v1.cni.cncf.io/networks: secondary-network
      labels:
        app: web-server
        project: ng-voice
    spec:
      initContainers:
      - name: init-serving-host
        image: busybox
        command: ['sh', '-c']
        args:
          - |
            POD_NAME=$(hostname)
            HOST_SUFFIX=${POD_NAME: -5}
            cat > /init-html/index.html <<EOF
            <!DOCTYPE html>
            <html>
            <head><title>Web Server</title></head>
            <body>
              <h1>Nginx Web Server</h1>
              <h2>Pod IP: $POD_IP</h2>
              <h2>serving-host=Host-$HOST_SUFFIX</h2>
            </body>
            </html>
            EOF
        env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        volumeMounts:
        - name: init-volume
          mountPath: /init-html
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - name: init-volume
          mountPath: /usr/share/nginx/html

        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf

      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config
      - name: init-volume
        emptyDir: {}