apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: ng-voice-cluster
servers: 1
agents: 2
image: rancher/k3s:v1.28.5-k3s1

ports:
  - port: 8080:80
    nodeFilters:
      - loadbalancer
  - port: 8443:443
    nodeFilters:
      - loadbalancer

options:
  k3d:
    wait: true
    timeout: "120s"
  k3s:
    extraArgs:
      - arg: --disable=traefik
        nodeFilters:
          - server:*
  kubeconfig:
    updateDefaultKubeconfig: true
    switchCurrentContext: true

registries:
  create:
    name: ng-voice-registry
    host: "0.0.0.0"
    hostPort: "5000"
